$ico-flex-media: "\e609";
$ico-phone: "\f095";
$ico-caret-down: "\f0d7";
$ico-caret-up: "\f0d8";
$ico-caret-left: "\f0d9";
$ico-caret-right: "\f0da";
$ico-file: "\e608";
$ico-anchor: "\e602";
$ico-arr-right: "\e603";
$ico-arr-left: "\e604";
$ico-arr-down: "\e605";
$ico-arr-up: "\e606";
$ico-close: "\e607";
$ico-slider-next: "\e600";
$ico-slider-prev: "\e601";
