.pagin-question {
	font-size: 0;
	margin-bottom: 37px;
	margin-left: -22px;
}
.pagin-question__item {
	font-size: 15px;
	font-family: "Calibri",Helvetica,Arial,sans-serif;
	font-weight: bold;
	border-bottom: 1px solid;
	margin-right: 3px;
	display: inline-block;
	margin-left: 22px;
	margin-bottom: 10px;
	padding: 2px 0; 
}
.pagin-question__item.active {
	background-color: #0c419e;
	color: #fff;
	border-radius: 3px;
	padding: 2px 16px;
}
.accordion-big {

}
.accordion-big .accordion__item {
	margin-top: 2px;
}
.accordion-big .accordion__btn {
	height: 60px;
	text-align: center;
	border-bottom: 3px solid #001740;
	width: 100%;
	background-color: #0c419e;
	color: #ffffff;
	font-size: 22px;
	transition: background-color 0.2s linear;
}
.accordion-big .accordion__btn:hover {
	background-color: #012c77;
}
.accordion-big .accordion__btn.is-active {
	background-color: #1165ab;
}
.accordion-big .accordion__btn::after {
	content: none;
}
.accordion-big .accordion__btn span {
	border-bottom: none;
	position: relative;
}
.accordion-big .accordion__btn span::after {
	font-family: 'icons'; 
	speak: none; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	line-height: 1; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	content: "";
	font-size: 12px;
	position: absolute;
	top: 10px;
	right: -20px;
}
.accordion-big .accordion__btn.is-active span::after {
	content: "";
	color: #fff;
}
.accordion-big .accordion__content {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dadde2;
	margin-top: 0;
	margin-bottom: 15px;
}
.list__elements {
	font-size: 0;
	padding-top: 4px;
	/*margin-bottom: 15px;*/
	padding-top: 20px;
}
.list__elements-items {
	width: 27.3%;
	display: inline-block;
	vertical-align: top;
	padding-left: 25px;
	margin-bottom: 40px;
}
.list__elements-items:nth-of-type(3n+2){
	width: 30.6%;
}
.list__elements-items:hover span {
	color: #e43c3c;
}
.list__elements-items .img__box {
	min-height: 122px;
	position: relative;
}
.list__elements-items .img__box img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}
.list__elements span {
	font-family: "Calibri",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0c419e;
	border-bottom: 1px dotted;
	transition: 0.2s linear;
}
.accordion-big .accordion__content .l-col {
	margin: 0;
	padding: 23px 30px 56px;
}
.accordion-big .accordion__content .l-col p:first-child {
	margin-top: 0;
}
.accordion-big .accordion__content .l-col p {
	margin: 9px 0;
}
.accordion-big .accordion__content .l-col p:last-child {
	margin-bottom: 0;
}
.accordion-big .accordion__content .l-col .img__box {
	height: 100%;
	padding: 32px 0;
	position: relative;
	text-align: center;
}
.accordion-big .accordion__content .l-col .img__box img {
	max-width: 100%;
	max-height: 100%;
}
.hr {
	border-bottom: 1px dashed #d0d3dd;
	width: 100%;
	margin: 40px 0;
}
.large-slider__full {
	width: 730px;
	position: relative;
	margin: 29px 0 -12px;
	position: relative;
}
.large-slider__full .large-slide {
	height: auto;
}
.large-slider__full .large-slide img {
	height: 486px;
}
.large-slider__full .caption {
	position: relative;
	font-family: "Calibri-Italic",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #000;
	opacity: 0.6;
	margin: 17px 0 0;
}
.step-container {
	font-size: 0;
	margin-left: 1px;
}
.step-container__item {
	display: inline-block;
	width: 53.5%;
	counter-increment: step-counter;
	position: relative;
	padding: 34px 26px;
	vertical-align: top;
	margin-left: -1px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: -21px;
}
.step-container__item:nth-of-type(2n) {
	width: 46.5%;
}
.step-container__item::before {
	content: counter(step-counter);
	position: absolute;
	color: #edeff3;
	top: -44px;
	left: -5px;
	font-family: "Calibri-Bold",Helvetica,Arial,sans-serif;
	font-size: 100px;
	z-index: -1;

}
.step-container .step-container__title {
	font-family: "Calibri-Bold",Helvetica,Arial,sans-serif;
	color: #000;
	font-size: 18px;
}
.step-container p {
	font-size: 15px;
	margin: 9px 0;
}
.step-container a {
	border-bottom: 1px solid;
}
.simple-icons {
	font-size: 0;
	margin-left: 1px;
}
.simple-icons li {
	width: 34.33%;
	margin-left: -1px;
	padding-right: 15px;
	display: inline-block;
	margin-top: 12px;
	padding-left: 2px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.simple-icons li:nth-child(3) {
	width: 31%;
}
.simple-icons .lead {
	font-family: "Calibri-Bold",Helvetica,Arial,sans-serif;
	font-size: 18px;
}
.simple-icons p {
	font-size: 15px;
	margin-top: 7px;
	line-height: 1.32;
}
.simple-icons img {
	width: 80px;
	height: 80px;
	margin-bottom: 16px;
}
.attent {
	color: #ff3333;
}
.hatch {
	width: 100%;
	height: 175px;
	background-image: url(../img/hatch.jpg);
	background-repeat: repeat;
	border-radius: 5px;
	padding: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hatch .hatch__inner {
	background-color: #fff;
	border-radius: 5px;
	height: 100%;
	padding: 20px; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hatch p {
	font-family: "Calibri-Italic",Helvetica,Arial,sans-serif;
	margin: 11px 0;
}
.btn_heading {
	background: #ff3333;
	color: #fff;
	float: right;
	margin-top: 5px;
}
.btn_heading:hover {
	background: #e43c3c;
}
.form_new {
	padding-top: 45px;
}

.form_new .form {
	width: 709px;
}
.tab__container {

}
.tab__container .nav {
	display: block;
	margin-left: -19px;
	margin-bottom: -35px;
	text-align: center;
}
.tab__container .nav li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 19px;
}
.tab__container .nav li a {
	font-family: "Calibri",Helvetica,Arial,sans-serif;
	font-size: 15px;
	padding-left: 20px;
	position: relative;
	cursor: pointer;
}
.tab__container .nav li a::after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #bfc5d0;
	border-radius: 100%;
	position: absolute;
	left: -2px;
	top: 2px;
}
.tab__container .nav li a::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 5px;
	left: 1px;
	background-color: #012c77;
	border-radius: 100%;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.1s linear, opacity 0.1s linear;
	-moz-transition: transform 0.1s linear, opacity 0.1s linear;
	-o-transition: transform 0.1s linear, opacity 0.1s linear;
	transition: transform 0.1s linear, opacity 0.1s linear;
}
.tab__container .nav li.active a::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.tab__container .tab__item {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	text-align: center;
}
.tab__container .tab__item .title {
	font-family: "Calibri-Bold",Helvetica,Arial,sans-serif;
	font-size: 18px;
	text-align: left;
}
.tab__container .tab__item.visible {
	opacity: 1;
}
.tab__container .tab__item .form_new-row:after {
	content: '';
	clear: both;
	display: table;
}
.tab__container .tab__item .form_new-row .col50 {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.tab__container .tab__item .form_new-row .col50:nth-last-of-type(2) {
	padding-right: 20px;
}
.tab__container .tab__item .form_new-row .col50:last-of-type {
	padding-left: 20px;
}
.tab__container .tab__item .btn_fw {
	max-width: 260px;
	display: inline-block;
}
#order-tab .popup__inner {
	margin-bottom: 20px;
}
.popup-gallery {
	background-color: rgba(12,65,158,0.9);
	bottom: 0;
	font-size: 0;
	left: 0;
	overflow: auto;
	padding: 40px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	white-space: nowrap;
	z-index: 999; 
	display: none;
}
.popup-gallery::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
.popup-gallery__inner {
	background-color: #fff;
	border-bottom: 3px solid #d4d6db;
	-webkit-box-shadow: 0 1px 20px 0 rgba(0, 40, 111, 0.76);
	box-shadow: 0 1px 20px 0 rgba(0, 40, 111, 0.76);
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: left;
	-webkit-transform: translate3d(0px, 20%, 0px) scale(0.5);
	-moz-transform: translate3d(0px, 20%, 0px) scale(0.5);
	-o-transform: translate3d(0px, 20%, 0px) scale(0.5);
	transform: translate3d(0px, 20%, 0px) scale(0.5);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: normal;
	padding: 50px;
	width: 763px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-gallery.is-active .popup-gallery__inner {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.gallery__items {
	display: none;
	text-align: center;
}
.gallery__items .title {
	text-align: center;
	font-size: 30px;
}
.gallery__items .title.title_medium {
	font-size: 24px;
}
.gallery__items .large-slider {
	width: 659px;
}
.gallery__items .large-slider img {
	height: 335px;
	width: 100%;
}
.gallery__items p {
	font-size: 15px;
	margin-bottom: 15px;
	text-align: left;
}
.gallery__items .btn_popup {
	margin: 25px 0 0;
	display: inline-block;
	background-color: #ff3333;
	color: #fff;
}
.gallery__items .btn_popup:hover {
	background-color: #e43c3c;
}